<div class="overlay">
    
    <div class="popup">
      <div class="headRow">
        <h2>{{pageName}}</h2>
        <button class="crossBtn" (click)="closePopup()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
     
      <!-- Add your form or input fields for adding a user -->
       <input type="text" [(ngModel)]="name" placeholder="name" required> 
       <input type="text" [(ngModel)]="designation" placeholder="" required> 
       <input type="text" [(ngModel)]="age" placeholder="Age"  pattern="^\d+$"
       required> 
       <input type="date" [(ngModel)]="startDate" placeholder="startDate" required> 
       <input type="date" [(ngModel)]="endDate" placeholder="endDate"> 
      <button class="button-icon" (click)="addUser()">{{pageName}}</button>
    </div>
  </div>